@model AsyncAwait.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div>
    <div>Current News Headline: @Model.Headline</div>
    <div>Current Temperature: @Model.Temperature</div>
    <div>Elapsed time to render: @Model.ElapsedTime</div>
</div>
<ol>
@foreach(var message in @Model.Messages)
{
    <li>@message</li>    
}
</ol>